<ion-header>
  <ion-toolbar>
    <ion-title>Confirmación Pago Móvil</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon color="primary" slot="start" name="arrow-back"></ion-icon>
        <p class="arrow-back">atrás</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="page-card">
    <ion-img src="/assets/icon/logoTUBFCpage.png" class="logo-img"></ion-img>
  </ion-card>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Deslice para actualizar">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card style="margin-top:50px;">
    <ion-card-header class="card-title">Envío de Clave de Confirmación <br> ({{prefijoAccion}})</ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-item>
          <ion-label>Clave:</ion-label>
          <ion-input required [(ngModel)]="clavePago" type="number" placeholder=""></ion-input>
        </ion-item>
      </ion-row>
    </ion-card-content>
    <ion-button float-right expand="full" class="btn-enviar" fill="outline" (click)="enviarSMS()">Enviar
    </ion-button>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>