<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-title>Consultas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="atrás" icon="arrow-back" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="page-card">
    <ion-img src="/assets/icon/logoTUBFCpage.png" class="logo-img"></ion-img>
  </ion-card>
  
  <ion-card class="card-menu"> 
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-button expand="full"  class="btn-saldo" (click)="abrirSiguientePag(1)" >Saldo</ion-button> 
        </ion-row>      
      </ion-grid>
    </ion-card-content>

    <ion-card-content> 
      <ion-grid>
        <ion-row>
          <ion-button expand="full" class="btn-movimiento" (click)="abrirSiguientePag(2)">Movimientos</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-button expand="full" class="btn-tdc" (click)="abrirSiguientePag(3)">Tarjeta de Crédito (TDC)</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>