

.btn-saldo{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    height: 150px;
    width: 70%;
    font-size: 16px;
  //--background: #f7b423;    
  --background: rgba(213, 225, 238, 0.664);
   p {
    color: #0d46a0;
    font-weight: bold;
   }
}

.btn-movimiento{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    height: 150px;
    width: 70%;
    font-size: 16px;
    --background: #79000018;
    p {
    color: rgb(240, 6, 6);
    font-weight: bold;
   }
}

.btn-tdc{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    height: 150px;
    width: 70%;
    font-size: 16px;
    --background: rgba(255, 174, 0, 0.24);
    p {
    color: rgb(228, 187, 7);
    font-weight: bold;
   }
}

.card-menu{
    margin-top: 20px;
}

.card-title {
  margin-bottom:30px;
  background: #0d46a0; 
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}