<ion-header>
  <ion-toolbar>
    <ion-title>Opciones Pago Movil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="atrás" defaultHref="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="page-card">
  <ion-img src="/assets/icon/logoTUBFCpage.png" class="logo-img"></ion-img>
</ion-card>


<ion-card class="card-menu">
  <ion-card-header class="card-title">Opciones</ion-card-header>
  <ion-card-content class="card-content">            

    <ion-item class="item-name">
      <ion-label style="//padding:1px;">Servicio</ion-label>
      <ion-select [compareWith]="true" [(ngModel)]="opcionPagoMovil" style="padding:5px; " placeholder="" okText="Aceptar"
        cancelText="Cancelar">
        <ion-select-option [disabled]="true">
          {{operacionPAT}} 
        </ion-select-option>
        <ion-select-option  [value]="operacionPAC">
          {{operacionPAC}} 
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-button class="btn-left" (click)="abrirSiguientePag(1)">
      <ion-icon slot="start" name="star"></ion-icon>
      Pago Movil
    </ion-button>       
    <ion-button float-right class="btn-right" (click)="abrirSiguientePag(2)">
      <p>Confirmar <br>Pago Movil</p>
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>