.card-title {
  margin-bottom:150px;
  background: #0d46a0; 
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}

.card-content {
    margin-top: -100px; 
    margin-bottom: 100px;
}

.btn-left {
    height: 100px; 
    max-width: 48%; 
    text-align: center;
    --background:rgb(219, 219, 219);
    --border-radius: 10px;
    p {
        color: black;
        font-weight: 550;
       } 
}

.btn-right {
    height: 100px; 
    max-width: 48%; 
    text-align: center;
    --background:rgb(219, 219, 219);
    --border-radius: 10px;
    p {
        color: black;
        font-weight: 550;
       } 
}

ion-select {
    width: 70% !important;
    text-align: center;
    color: #0345b6;
}