<ion-header>
  <ion-toolbar>
    <ion-title>Consultar Movimientos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="atrás" defaultHref="consultas" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="page-card">   
    <ion-img src="/assets/icon/logoTUBFCpage.png" class="logo-img"></ion-img>      
  </ion-card>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
       pullingIcon="arrow-dropdown" 
       refreshingSpinner="bubbles" 
       pullingText="Deslice para actualizar">
    </ion-refresher-content>
  </ion-refresher>

    <ion-card class="content-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col style="margin-top: 10px; margin-left: 5px;" >
              <ion-item style="padding:1px; margin-bottom: 5px;" >
                  <ion-label style="padding:1px;" >Cuenta</ion-label>
                  <ion-select required [(ngModel)]="tipoCuenta" style="padding:5px; " placeholder="" okText="Aceptar" cancelText="Cancelar">
                    <ion-select-option *ngFor="let option of accounts" [value]="option.shortCode">{{option.name}}</ion-select-option>
                  </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                  <ion-label>Correlativo</ion-label>
                  <ion-select required [(ngModel)]="correlativoSelected" okText="Aceptar" cancelText="Cancelar">
                    <ion-select-option  *ngFor="let option of options;" >{{option}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <!-- Fill -->
          <ion-button float-right expand="full" class="btn-enviar" fill="outline" (click)="consultarMovimiento()">Enviar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>