.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.logo-img {
  width: 200px; 
  height: 200px; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}

/* para el logo movil
.logo-img {
  width:200px; 
  height: 200px; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}*/