<ion-header>
  <ion-toolbar>
    <ion-title>Pago Móvil</ion-title>
    <ion-buttons slot="start">
        <ion-back-button color= "primary" defaultHref="pago-movil-menu" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="page-card">
        <ion-img src="/assets/icon/logoTUBFCpage.png" class="logo-img"></ion-img>
    </ion-card>

    <ion-card>
        <ion-card-header class="card-title">Banco Destino</ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col col-6 > 
                    <ion-item class="item-name" >
                        <ion-label style="padding:1px;" >Banco: </ion-label>
                        <ion-select required [(ngModel)]="bancoSeleccion" style="padding:5px; " placeholder="" okText="Aceptar" cancelText="Cancelar">
                            <ion-select-option *ngFor="let option of banks" [value]="option.code">{{option.code}} | {{option.name}}</ion-select-option>
                        </ion-select>
                    </ion-item> 
                </ion-col>         
            </ion-row> 
        </ion-card-content>
        <ion-card-header class="card-title">Telefóno del Beneficiario</ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col class="card-content-name" >Operadora de Teléfono: </ion-col>
                <ion-item class="item-name" >                
                    <ion-label style="padding:1px;" >Operadora</ion-label>
                    <ion-select required [(ngModel)]="operadoraSeleccion" style="padding:5px; " placeholder="" okText="Aceptar" cancelText="Cancelar">
                        <ion-select-option *ngFor="let option of operadoras" [value]="option.number">{{option.number}} | {{option.company}}</ion-select-option>
                    </ion-select>                  
                </ion-item>
            </ion-row> 
            <ion-row>
                <ion-col class="card-content-name" >Número de Teléfono: </ion-col>                 
                    <ion-input required [(ngModel)]="telefonoSeleccion" type="tel" placeholder="5671234"></ion-input>                    
            </ion-row> 
        </ion-card-content>
        <ion-card-header class="card-title">Cédula de Identidad del Beneficiario</ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col class="card-content-name" >Tipo de Cédula de Identidad: </ion-col>
                <ion-item class="item-name" >                
                    <ion-label style="padding:1px;" >Cédula</ion-label>
                    <ion-select required [(ngModel)]="tipoIdentificacion" style="padding:5px; " placeholder="" okText="Aceptar" cancelText="Cancelar">
                        <ion-select-option *ngFor="let option of tipos" [value]="option.type">{{option.type}}</ion-select-option>
                    </ion-select>                  
                </ion-item>
            </ion-row> 
            <ion-row>
                <ion-col class="card-content-name" >Número de Cédula: </ion-col>                 
                    <ion-input required [(ngModel)]="numeroCedula" type="tel" placeholder="30123456"></ion-input>                    
            </ion-row> 
        </ion-card-content>
        <ion-card-header class="card-title">Datos del Pago</ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-item> 
                    <ion-label>Monto:</ion-label>
                    <ion-input required [(ngModel)]="montoEntero" type="number" placeholder=""></ion-input>,
                    <ion-input required [(ngModel)]="montoDecimal" type="number" placeholder=""></ion-input>
                </ion-item>       
            </ion-row> 
        </ion-card-content>
        <ion-button float-right expand="full" class="btn-enviar" fill="outline" (click)="realizarPago()" >Enviar
        </ion-button>
    </ion-card>  
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>Footer</ion-title>
    </ion-toolbar>
</ion-footer>