.page-card ion-img {
    max-height: 200px; 
  }
  
.page-card {
    --webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 10px;    
  }
  
.logo-img {
    width: 300px; 
    height: 100px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}
  
ion-item{ 
    --border-color: #0d46a0; 
}

.card-title {
  margin-bottom:200px;
  background: #0d46a0; 
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}
  
.card-menu {
    margin-top: 20px;
}

.card-content {
    margin-top: -100px; 
    margin-bottom: 200px;
}

.btn-left {
    height: 100px; 
    width: 48%; 
    text-align: center;
    --background:rgb(34, 9, 175);
}

.btn-right {
    height: 100px; 
    width: 48%; 
    text-align: center;
    --background:rgb(34, 9, 175);
}