<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Servicio de mensajería SMS !</h1>
                <h2>Se define el número telefónico del proveedor de mensajería de texto para la aplicacion movil TUBFC SMS.</h2>
            </hgroup>
            <p>
                Servicio ASP.NET Web API realizado en Visual Studio 2013 siguiendo el modelo MVC.
                El objetivo del servicio web Api Rest es proporcionar a la aplicacion móvil TUBFC el número telefónico al cual el 
                usuario enviara el mensaje de texto.

            </p>
            <p>
                Los operadores previstos son :
            </p>             
            <p><b>
                 Unplugged => 88232
               </b>
            </p>
            <p> <b>
                Ogangi    => Por definir
            </b></p>
           
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Se realiza esta API el día 21 de Agosto como parte del 3er Sprint de desarrollo.</h3>
        <ol class="round">
            <li class="one">
                <h5>Desarrollado por:</h5>
                   Jesus Yepes.                  
            </li>
            <li class="one">
                <h5>Estructura:</h5>
                    Siguiendo el patron MVC, en primer momento se leera un archivo de configuracion
                para dicho fin, donde sera respondido en formato JSON para que Ionic pueda manejarlo.
            </li>
        </ol>
    </section>
</div>
