<ion-header>
  <ion-toolbar>
    <ion-title>Consultar Tarjeta de Crédito</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="atrás" defaultHref="consultas" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col style="margin-top: 10px; margin-left: 5px;">Tarjeta </ion-col>
        <ion-item style="padding:1px; margin-bottom: 5px;">
          <ion-label style="padding:1px;">Tipo de tarjeta</ion-label>
          <ion-select style="padding:5px; " placeholder="" okText="Aceptar" cancelText="Cancelar">
            <ion-select-option *ngFor="let option of cards">{{option.name}}</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label>Correlativo</ion-label>
            <ion-select value="brown" okText="Aceptar" cancelText="Cancelar">
              <ion-select-option *ngFor="let option of options">{{option.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <!-- Fill -->
      <ion-button float-right expand="full"
        style="margin-left: 70px; margin-right: 30px; margin-bottom: 15px; width: 70px;" fill="outline">Enviar
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>